* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main{
      display: grid;
      width: auto;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto;
      justify-content: center;
      align-content: center;
  }

  .grocerycart{
      border: solid black;
      color: white;
      width: 100%;
      height: 100px;
      background-color: #b22222;
      text-align: center;
      grid-column: 1/-1;
      box-sizing: border-box;
      padding-top: 25px;
  }

  .leftbloc{
      border: solid;
      background-color: lightgrey;
      text-align: center;
      height: 900px;
      width: 100%;
      grid-column: 1/2;
  }

  /* .leftbloc table{
      color: lightgray;
      width: 80%;
      box-sizing: border-box;
      margin: 25px auto;
      border-collapse: collapse;
  } */

  /* .leftbloc th{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      background-color: black;
      height: 40px;
      padding: 5px;
  } */

  /* .leftbloc td{
      color: black;
      text-align: center;
      height: 120px;
      font-weight: bolder;
      padding: 10px;
  } */

  .leftbloc img{
      width: 130px;
      height: 100px;
      margin-right: 15px;
  }

  .leftbloc .remove{
    height: auto;
    width: auto;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
  }

  .leftbloc .cart-quantity-input{
      width: 45px;
      height: 30px;
      padding: 5px;
  }

  /* .leftbloc .cart-info{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
  } */

  .cart-row{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
  }

  .cart-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    margin: 25px auto;
    width: 80%;
  }










  .rightbloc{
      border: solid;
      background-color: lightgrey;
      text-align: center;
      height: 900px;
      width: 100%;
      grid-column: 2/3;
      padding: 0 8%;
  }

  .summary{
    text-align: center;
    padding: 30px;
    border-bottom: solid;
  }

  .rightbloc table{
    height: 40%;
    width: 100%;
    box-sizing: border-box;
    margin: 25px auto;
    border-collapse: collapse;
  }

  .rightbloc th{
      text-align: start;
      font-size: 20px;
  }

  .rightbloc td{
      text-align: end;
      font-weight: bolder;
  }

  #checkout{
    height: 50px;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: larger;
    margin: 15px 0;
}

  .help{
    border-top: solid;
    padding: 10px 0px;
}

@media only screen and (max-width: 680px){
    .leftbloc,.rightbloc{
        grid-column: 1/-1;
    }

    .rightbloc{
        height: 500px;
    }
}