* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ========================================================
 1.General Formatting of the article
 ========================================================*/
.article-container {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  row-gap: 3em;
  padding: 1em 0.5em;
}

/* Navigation at the top */
.article-navbar-container {
  grid-column: 1/-1;
  grid-row: 1 / 2;
}

/* Left column to the left and right to the right */
.article-left-column {
  grid-column: 1 / 2;
  grid-row: 2/3;
}

.article-right-column {
  grid-column: 2 / -1;
  grid-row: 2/3;
}

/* price-subject message should be at the bottom */
.article-price-subject {
  grid-column: 1/-1;
  grid-row: 3/4;
  justify-self: center;
}

/*========================================================
2. Working on the article navigation bar
======================================================== */

/* justifying the navigation bar */
.article-navbar-container {
  padding: 1em;
}

/* Styling the navigation bar */
.article-navbar-anchors {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.75em;
}

.article-navbar-anchors:hover {
  opacity: 60%;
  text-decoration: underline;
}

.article-navbar-anchors:last-child:hover {
  text-decoration: none;
  opacity: 100%;
}

/*========================================================
3. Working on the left column
======================================================== */

/* seperate main img and side img in different grids */
.article-left-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.5em;
}

/* Centering and sizing the main image */
.article-main-img-container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.article-main-img {
  object-fit: fill;
  align-self: end;
  max-width: 300px;
}

/* Centering and sizing the side images */
.article-alternate-img-container {
  display: flex;
  justify-self: center;
  align-self: start;
  gap: 1em;
  max-width: 300px;
}

/* Styling the alternate images */
.article-alternate-img:hover {
  opacity: 50%;
  cursor: pointer;
}

/*========================================================
 4.Working on the right column
========================================================*/

/* Organizing the display by seperating the info */
.article-right-column {
  display: grid;
  grid-auto-flow: row;
  row-gap: 2em;
  margin: 0 1em;
}

/* ----a. Generic info (Name, Brand, weight) styling---------- */
.product-generic-info {
  color: grey;
  font-size: 1.5em;
}

.product-name {
  color: black;
  font-size: 2em;
}

/* -------B.Price info (sale, regular, price per weight) styling----------- */
.price-info {
  color: black;
}

.product-special-price {
  color: #b22222;
  font-size: 1.75em;
}

.product-regular-price {
  font-size: 1.25em;
}

/* -------C.Sale validitiy--------------------------------------- */
.product-sale-date {
  color: grey;
  font-size: 0.85em;
}

/* ----------------D.Other Variety anchor------------------------- */
.other-product-variety {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.other-product-variety:hover {
  opacity: 50%;
  text-decoration: underline;
}

/* -----------------E. Add to cart buttons-------------------------- */

/* Reaaranging the buttons */
.article-add-to-cart-container {
  display: grid;
  row-gap: 1em;
}

.article-add-to-cart-quantity-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* styling the plus and minus button */
.article-quantity-buttons {
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  height: 3em;
  width: 3em;
}

.article-quantity-buttons:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

/* Styling the input */
.article-quantity-input {
  height: 3em;
  width: 70px;
  border: 2px solid black;
  text-align: center;
  border-radius: 4px;
}

/* Hiding the number increment bar */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Styling the add button */
.article-add-to-cart-button {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  width: 50%;
  height: 100%;
  font-size: 1.2em;
  border: 2px solid black;
  font-size: auto;
  padding: 0.5em;
  border-radius: 4px;
}

.article-add-to-cart-button:hover {
  background-color: white;
  color: black;
}

/* -------------- F.Product Description button------------------------ */

/* Same procedure as I did in the header (refer to that one) */

.product-description-toggle {
  font-size: 1.2em;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  height: auto;
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
}

.product-description-button-container {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  background-color: rgb(240, 240, 240);
  padding: 1em 0.25em;
}

.product-description-checkbox {
  display: none;
}

#description-up-icon {
  display: none;
}

.product-description-content {
  display: none;
  padding: 0.5em;
}

.product-description-checkbox:checked ~ p.product-description-content {
  display: block;
}

.product-description-checkbox:checked
  ~ label.product-description-toggle
  #description-up-icon {
  display: contents;
}

.product-description-checkbox:checked
  ~ label.product-description-toggle
  .description-down-icon {
  display: none;
}

/* -------------- G.Product Ingredient button------------------------ */

.product-ingredient-toggle {
  font-size: 1.2em;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  height: auto;
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
}

.product-ingredient-button-container {
  border-bottom: 2px solid black;
  background-color: rgb(240, 240, 240);
  padding: 1em 0.25em;
}

.product-ingredient-checkbox {
  display: none;
}

#description-up-icon {
  display: none;
}

.product-ingredient-content {
  display: none;
  padding: 0.5em;
}

.product-ingredient-checkbox:checked ~ p.product-ingredient-content {
  display: block;
}

.product-ingredient-checkbox:checked
  ~ label.product-ingredient-toggle
  #description-up-icon {
  display: contents;
}

.product-ingredient-checkbox:checked
  ~ label.product-ingredient-toggle
  .description-down-icon {
  display: none;
}

/* ----------H. Dedication message---------------------- */
.commitment-msg {
  color: rgb(145, 145, 145);
  font-size: 0.75em;
}

/*========================================================
 5.Working on the bottom bar (price subject msg)
========================================================*/
.article-price-subject {
  font-size: 0.85em;
  padding: 1em;
}

/*========================================================
6.MAKING THE MOBILE VERSION
========================================================*/

@media only screen and (max-width: 1440px) {
  .article-container {
    width: 75%;
  }

  /* Adjusting cart button height */
  .article-add-to-cart-button {
    width: 55%;
  }
}

@media only screen and (max-width: 1024px) {
  .article-container {
    width: 90%;
  }

  /* Adjusting cart button height */
  .article-add-to-cart-button {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .article-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
  }

  /* Navigation at the top */
  .article-navbar-container {
    grid-column: 1/-1;
    grid-row: 1 / 2;
  }

  /* Left column to the left and right to the right */
  .article-left-column {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .article-right-column {
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  /* price-subject message should be at the bottom */
  .article-price-subject {
    grid-column: 1/-1;
    grid-row: 4/5;
  }

  /* Adjusting cart button height */
  .article-add-to-cart-button {
    width: 60%;
  }
}
