*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	font-family: 'Montserrat';
}

	
.header{
	width:100%;
	height:80px;
	display: block;
	background-image: url(../images/fruit.jpg);
}

.inner_header{
	width: 60%;
	height: 100%;
	display: block;
	margin: 0 auto;
	background-color: #B22222;
}

.logo_container{
	height: 100%;
	display: table;
	float:left;
}

.logo_container h1{
	color: white;
	height:100%;
	display: table-cell;
	vertical-align:middle;
	font-family:'Montserrat';
	font-size: 32px;
	font-weight:150;
}

.logo_container h1 span{
	font-weight:900;
}


.container h2{
	text-align: center;
	font-size: 25px;
}

.log {
	margin-top:4%;
	margin-bottom:4%;
	text-align:center;
	font-size:32px;
}

.button{
	background-color: #333;
	color:#fff;
	padding:10px;
	border: none;
	width:100%;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	margin: none;
	border-radius: 10px;
}

.button:hover{
	background:#B22222;
}

.my-form{
	padding:20px;
}

.form-group{
	padding-bottom:20px;
}

.my-form label{
	display:block; /*labels on own line*/
}

.my-form input[type="text"], .my-form textarea{
	padding:8px;
	width:100%;
}

.my-form input[type="password"], .my-form textarea{
	padding:8px;
	width:100%;
}

.clr{
	height:15%;
}

a {
	font-size: 12px;
	color:white;
}




.right{
    float:right;
}

.left{
    float:left;
}

div.a {
  text-align: center;
}


footer {
 
  background-color: #000;
  color: #fff;
  padding: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0%
  /* position: fixed;
  z-index: 1; */
}