
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* --------------------------Log In Message and Box ------------------------------*/
a{
	text-decoration: none;
}

.log {
	color:black;
	font-size:30px;
	text-align:center;
	padding-bottom:5%;
	padding-top:5%;
	margin:auto;
}

.container{
	padding:20px;
	width:40%;
	margin:auto;
	background-color:#A9A9A9;
	font-size: 16px;
	color: white;
	border-radius: 10px;
}

.container h2{
	text-align:center;
	font-size:20px;
}


.button{
	background-color: #333;
	color:#fff;
	padding:10px;
	border: none;
	width:100%;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	margin: none;
	border-radius: 10px;
}

.button:hover{
	background:#B22222; 
}


.my-form{
	padding:20px;
}

.form-group{
	padding-bottom:20px;

}

.my-form label{
	display:block; /*labels on own line*/
}

.my-form input[type="text"], .my-form textarea{
	padding:8px;
	width:100%;
	border-radius: 10px;
	border-color: none;
}

.my-form input[type="password"], .my-form textarea{
	padding:8px;
	width:100%;
	border-radius: 10px;
	border-color: none;
}

.clr{
	height:15%;
}

a {
	font-size: 12px;
	color:white;
}


/*-------------------------------------Footer--------------------------*/

/* 1. Fixing color backgrounds */
.footer-container {
  display: grid;
  grid-template-rows:1fr 5fr 1fr;
}

.footer-navigation-bar {
  background-color: #B22222;
}

.footer-grey-section {
  background-color: rgb(0, 0, 0);
}

/* The bottom footer, that matches the header.*/
.footer-copyright {
  background-image:url(../imgs/fruit.jpg);

  background-size: cover;
}

.copyright-background {
  object-fit: cover;
  grid-template-columns: 1/-1;
  height: 100px;
}


.footer-navigation-bar-content {
  display: grid;
  grid-auto-flow: column;
  width: 100%; 
  max-width: 1000px;
  height: 100%;
  margin: auto;
  justify-items: center;
  align-items: center;
  background-color:#B22222;
}

.footer-navigation-bar-buttons {
  justify-self: start;
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  background-color:#B22222;
}

.social-media {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  height: 100%;
}

.nav-left-button {
  background-color: #B22222;
  color: #fff;
  font-size: 0.9em;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  font-size: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nav-left-button:hover {
  background-color: white;
  color: red;
  
}

.social-media-buttons {
  background-color:#B22222;;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  font-size: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.social-media-buttons:hover {
  background-color: white;
  color: red;
}

.footer-content-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%; 
  max-width: 1000px;
  padding: 1em;
  margin: auto;
  row-gap: 1em;
}

.footer-grey-section-first-row {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5%;
}
/* All the columns of first rows are in this section */
.footer---my-account,
.footer---what-we-offer,
.footer---get-to-know-us,
.footer--images-column {
  display: grid;
  row-gap: 1em;
  align-self: start;
  
}

.footer-anchor {
  color: white;
}

.footer-anchor:link {
  text-decoration: none;
}

.footer-anchor:visited {
  text-decoration: lightgray;
}

.footer-anchor:hover {
  color: rgba(255, 255, 255, 0.37);
  text-decoration: underline;
}

.footer-header-category {
  color: white;
  font-size: 1.5em;
}

.footer-promotion-img {
  width: 100%;
  height: auto;
}

.footer-promotion-button {
  cursor: pointer;
  border: none;
}

.footer-promotion-button:hover {
  opacity: 0.5;
}


.newsletter-survey-text {
  color: white;
}

.footer---newsletter,
.footer---survey {
  color: white;
}

.footer-anchor-underlined {
  color: white;
}

.footer-anchor-underlined:link {
  text-decoration: underline;
}

.footer-anchor-underlined:visited {
  text-decoration: lightgray;
}

.footer-anchor-underlined:hover {
  color: rgba(255, 255, 255, 0.37);
  text-decoration: none;
}

.footer-copyright {
  display: grid;
  place-items: center;
  align-items: center;
}

.ownership-laws {
  width: 100%; 
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
}

.conditions {
  justify-self: start;
}

.copyright {
  justify-self: end;
  color: white;
}

.conditions-anchor {
  display: grid;
  grid-auto-flow: column;
  column-gap: 2em;
}

.copyright-anchors {
  color: white;
}

.copyright-anchors:link {
  text-decoration: underline;
}

.copyright-anchors:visited {
  text-decoration: lightgray;
}

.copyright-anchors:hover {
  color: rgba(255, 255, 255, 0.37);
  text-decoration: none;
}

@media only screen and (max-width: 680px) {
  .footer-container {
    grid-template-rows: 5% 100% 5%;
  }

  .footer-grey-section-first-row {
    grid-auto-flow: row;
    row-gap: 2em;
  }

  .footer-anchor {
    justify-content: center;
  }

  .footer---newsletter {
  }
}